---
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
---

<header class="bg-white sticky top-0 z-50">
  <div class="container mx-auto px-4 py-4">
    <div class="flex items-center justify-between relative">
      <Logo />
      <Navigation />
    </div>
  </div>
</header>

